body {
  font-family: monospace;
  background-color: #f4f4f4;
  padding: 20px;
}

#output {
  white-space: pre; /* mantiene saltos de línea y espacios */
  background: #222;
  color: #0f0;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
}